<a href="https://colab.research.google.com/github/TDTroll/AAPGPhyton-Ejercicios-Alejandro_Jassan_Rea_Rivera/blob/main/EjerciciosDePractica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Ejercio 1:**
Se tiene la siguiente lista de valores:

lista = [1,2,3,4,5,6,6, [2,4,5,6,7,8,9], 'hola', 45]

Necesitamos extraer de la lista anidada todos los valores que sean menores a 7 ya que son de vital importancia para generar un diccionario de datos.

Consejo: use type para conocer el tipo de datos de los valores de la lista.

In [7]:
#Para extraer TODOS LOS DATOS MENORES A 7 DE TODA LA LISTA
lista = [1,2,3,4,5,6,6, [2,4,5,6,6,5,4,3,2,1,5,6,7,8,9], 'hola', 45]
def get_values_mix_list(list_mod):
  get_list = []
  for i in list_mod:
    if type(i) == int and i < 7:
      get_list.append(i)
    elif type(i) == list:
      for j in i:
        if type(j) == int and j < 7:
          get_list.append(j)
  return get_list
print(get_values_mix_list(lista))

[1, 2, 3, 4, 5, 6, 6, 2, 4, 5, 6, 6, 5, 4, 3, 2, 1, 5, 6]

In [8]:
#Para extraer TODOS LOS DATOS MENORES A 7 DE LA LISTA ANIDADA
def get_values_mix_list(list_mod):
  get_list = []
  for i in list_mod:
    if type(i) == list:
      for j in i:
        if type(j) == int and j < 7:
          get_list.append(j)
  return get_list
result = [2, 4, 5, 6, 6, 5, 4, 3, 2, 1, 5, 6]
print(result == get_values_mix_list(lista))
print(result,"=", get_values_mix_list(lista))

True
[2, 4, 5, 6, 6, 5, 4, 3, 2, 1, 5, 6] = [2, 4, 5, 6, 6, 5, 4, 3, 2, 1, 5, 6]

**EJERCICIO 2:** Se trata de que usted genere una funciÃ³n para que los valores obtenidos en la lista pasen a formar parte de un diccionario que nos ayude a hacer consultas de los valores que se encuentran en esta estrctura de datos.

In [52]:
new_list = get_values_mix_list(lista)
def create_dict(list_mod2):
  get_dict = {}
  i = 0
  for j in list_mod2:
      get_dict[i] = j
      i += 1
  return get_dict
diccionario_result = {0: 2, 1: 4, 2: 5, 3: 6, 4: 6, 5: 5, 6: 4, 7: 3, 8: 2, 9: 1, 10: 5, 11: 6}
print(create_dict(new_list) == diccionario_result)
print(create_dict(new_list), "=", diccionario_result)

True
{0: 2, 1: 4, 2: 5, 3: 6, 4: 6, 5: 5, 6: 4, 7: 3, 8: 2, 9: 1, 10: 5, 11: 6} = {0: 2, 1: 4, 2: 5, 3: 6, 4: 6, 5: 5, 6: 4, 7: 3, 8: 2, 9: 1, 10: 5, 11: 6}

**Ejercicio 3:**